html, body {
    margin: 0;
    padding: 0;
    background: #eee;
    font-family: Arial,sans-serif;
}
.frontadmin-bar {
    padding: 1px;
}
span {
    font-size: 0.8em;
    padding: 5px 10px;
    color: #444;
    display: block;
    float: left;
}
span a {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #00aeef;
}
a.button {
    background: #999;
    text-shadow: 1px 1px 2px #444;
    color: #eee;
    display: block;
    float: right;
    font-size: 0.8em;
    font-weight: bold;
    margin: 0 0 0 1px;
    padding: 4px 8px 3px 7px;
    cursor: pointer;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
a:hover {
    background: #00aeef;
    color: #fff;
}
a.button.red {
    background: #9b0000;
}
a.button.active {
    background: #444;
}
a.button.red:hover {
    background: #c30
}

