<script src="{{ STATIC_URL }}libs/jquery/jquery.min.js"></script>
<script src="{{ STATIC_URL }}frontadmin/js/jquery.frontadmin.js"></script>
<script>
</script>
<style>
/* Frontadmin toolbar */
.frontadmin-toolbar-frame {
    width: 100%;
    display: block;
    height: 24px;
    margin: 0 0 10px 0;
    border: 1px solid #ccc;
    -moz-box-shadow: 0 0 1px #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    opacity: 0.6;
}

.front-admin-block:hover .frontadmin-toolbar-frame,
.frontadmin-toolbar-frame:hover {
    opacity: 1.0;
}

.front-admin-block {
}
.front-admin-block:hover {
    background: #def;
}

/* Main frontadmin bar */
#frontadmin-bar-frame {
    width: 70%;
    display: block;
    height: 24px;
    margin: 0;
    position: fixed;
    bottom: -1px;
    border: 1px solid #ccc;
    -moz-box-shadow: 0 0 1px #fff;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
</style>
