# Required
# --------
django==1.3
PIL
Markdown
simplejson

easy-thumbnails
django-generic-flatblocks
django-modeltranslation
django-grappelli
-e svn+http://grappelli-fit.googlecode.com/svn/trunk#egg=grappelli-fit
-e git+git://github.com/django-mptt/django-mptt.git#egg=django-mptt
-e git+git@github.com:h3/django-treenav.git#egg=django-treenav
-e git+git://github.com/h3/webcore-generic-flatblocks.git#egg=django-generic-flatblocks

# Suggested
# ---------
# django-extensions
# -e svn+http://grappelli-fit.googlecode.com/svn/trunk#egg=grappellifit
# -e git+git://github.com/mintchaos/django_compressor.git#egg=django_compressor
#-e git+git://github.com/caktus/django-treenav.git#egg=django-treenav

# Socialauth
# ----------
# django-socialregistration
# django-userena
# python-openid
# oauth2 

# Advanced
# --------
# django-guardian
# django-reversion
# django-sentry
